<section id="ys-FE-users-private-message">
  <div class="flex-message-page">
    <!--左側導覽列-->
    <section class="left-region-sidebar">
      {{> home-tabs-middleware-ByYS route='private-message'}}
    </section>

    <div class="d-flex">
      <!--使用者清單 開始-->
      <div class="public-message-user">
        <ul class="ul-user-online" id="allUserList">
          <!--每一個使用者 開始-->

          <!--每一個使用者 結束-->
        </ul>
      </div>
      <!--使用者清單 結束-->

      <!--聊天室 開始-->
      <div class="public-message">
        <div class="public-message-title">
          <span class="title-span">私人訊息</span>
        </div>
        <div class="public-message-middle">
          <ul class="ul-public-message" id="public-message" style="height:100%;display: flex;
flex-direction: column;">

            <li class="li-left-message" style="flex: 1;"></li>
            {{!-- 聊天室內容<li></li>>，一開始為空 --}}

          </ul>
        </div>
        <!--聊天輸入框 開始-->
        <form id="public-message-form" action="">
          <div class="public-message-footer">
            <input id="messageInput" type="text" placeholder="請輸入訊息 ..." maxlength="160" class="public-message-input">
            <button class="send-btn" type="button">
              <img src="/images/submit.png" alt="">
            </button>
          </div>
        </form>
        <!--聊天輸入框 結束-->
      </div>
      <!--聊天室 結束-->
    </div>

    <!--socketIo script 開始-->
    <script>
      //  ---- 建立連線
      const socket = io()

      socket.auth = { userId: '{{loginUser.id}}' }

      socket.emit('login', { userId: '{{loginUser.id}}' })
      socket.emit('checkPM', { userId: '{{loginUser.id}}' })

      // 抓取必要的 DOM
      const allUserListDOM = document.getElementById('allUserList')
      const scrollbarRegion = document.querySelector('.public-message-middle')
      const PMessageTitle = document.querySelector('.public-message-title')
      const messagesDOM = document.getElementById('public-message')
      const form = document.getElementById('public-message-form')
      const input = document.getElementById('messageInput')

      // 需要資訊
      const loginUserId = Number('{{loginUser.id}}')
      let targetUserId

      //  ---- 掛上監聽器  input 欄位 做 socket.emit 傳入 server
      form.addEventListener('submit', function (e) {
        e.preventDefault()

        if (input.value) {
          socket.emit('private message', { receivedMsg: input.value, receiver: targetUserId })
          input.value = ''
        }
      })


      //  ---- socket 監聽從 server 在 chat message 傳來的資料   
      socket.on('private message', function (receivedObj) {
        if (receivedObj.id !== loginUserId) {
          // 他人的訊息 --- 出現在左邊
          const leftHandMessage = document.createElement('li')
          leftHandMessage.className = 'li-left-message'
          leftHandMessage.innerHTML =
            `
            <div class="message-img">
              <img src="${receivedObj.avatar}" class=""
                style="width:40px;height:40px;border-radius: 50px;" alt="Picture">
            </div>
            <span class="message-time">${timeFormat(new Date())}</span>
            <div class="message-span">
              <span>
                ${receivedObj.message}
              </span>
            </div>
            `
          messagesDOM.appendChild(leftHandMessage)
        } else {
          // 自已的訊息 --- 出現在右邊
          const rightHandMessage = document.createElement('li')
          rightHandMessage.className = 'li-right-message'
          rightHandMessage.innerHTML =
            `
            <span class="message-time">${timeFormat(new Date())}</span>
            <div class="message-span">
              <span class="span-message">
                ${receivedObj.message}
              </span>
            </div>
            `
          messagesDOM.appendChild(rightHandMessage)
        }
        scrollbarRegion.scrollTo(0, scrollbarRegion.scrollHeight)
      })


      // ---- ---- ---- 全體廣播頻道 ---- ---- ----
      socket.on('checkPM', (usersData) => {
        console.log("socket.on ~ usersData", usersData)

        const usersArray = Object.values(usersData)

        //  userList 顯示邏輯 --- 
        let rawHTML = `
          <li class="li-user-online">
            <span class="user-title-span">訊息</span>
          </li>
          <li class='li-user-online userCard' userName="user1" userId="2">
            <img src="https://randomuser.me/api/portraits/men/2.jpg"
              class="tweet-user-avatar" style="width:50px;height:50px;display:inline-block;border-radius: 50%;" alt="Picture">
            <span class="li-name" href="/users/2/tweets">user1</span>
            <span class="li-account" href="/users/2/tweets">@user1</span>
          </li>
          <li class='li-user-online userCard' userName="user2" userId="3">
            <img src="https://randomuser.me/api/portraits/men/3.jpg"
              class="tweet-user-avatar" style="width:50px;height:50px;display:inline-block;border-radius: 50%;" alt="Picture">
            <span class="li-name" href="/users/3/tweets">user2</span>
            <span class="li-account" href="/users/3/tweets">@user2</span>
          </li>
        `
        usersArray.forEach((user) => {
          rawHTML +=
            `
          <li class='li-user-online userCard' userName="${user.name}" userId="${user.id}">
            <img src="${user.avatar}"
              class="tweet-user-avatar" style="width:50px;height:50px;display:inline-block;border-radius: 50%;" alt="Picture">
            <span class="li-name" href="/users/${user.id}/tweets">${user.name}</span>
            <span class="li-account" href="/users/${user.id}/tweets">@${user.account}</span>
          </li>
          `
        })
        allUserListDOM.innerHTML = rawHTML

        allUserListDOM.addEventListener('click', (event) => {
          const userCardDOM = event.target.closest('.li-user-online')
          const targetUserName = userCardDOM.attributes.userName.value
          targetUserId = Number(userCardDOM.attributes.userId.value)
          const room = targetUserId
          clearPrivateMessageCanvas()
          socketInit(socket, room)
          PMessageTitle.children[0].innerText = targetUserName
        })

      })

      function timeFormat (timeObj) {
        const hour = timeObj.getHours() //0-24
        const minute = timeObj.getMinutes() //0-59
        if (hour >= 12) return `下午${hour - 12}:${minute}`
        else return `上午${hour}:${minute}`
      }

      function clearPrivateMessageCanvas () {
        messagesDOM.innerHTML = `<li class="li-left-message" style="flex: 1;"></li>`
      }

      function socketInit (socket, room) {
        socket.disconnect()
        socket.connect()
        socket.emit('join room', room)
      }

    </script>
    <!--socketIo script 姞束-->
  </div>
</section>