<section id="Huei-region" class="">
  <div class="flex-home-page">
    <section class="left-region-sidebar">
      {{> home-tabs route='home'}}
    </section>

    <section id="ys-FE-users-region" class="chatroom-layout">



      <div class="followers scroll-container">

        <ul id="messages"></ul>
        <form id="form" action="">
          <input id="input" autocomplete="off" /><button>Send</button>
        </form>


        <script>
          // step 2 建立連線
          const socket = io()
          socket.emit('login', {
            userName: '{{loginUser.name}}',
            avatar: '{{loginUser.avatar}}'
          })

          // 抓取必要的 DOM
          const messages = document.getElementById('messages')
          const form = document.getElementById('form')
          const input = document.getElementById('input')

          // input 欄位掛上監聽器 做 socket.emit 傳入 server
          form.addEventListener('submit', function (e) {
            e.preventDefault()
            if (input.value) {
              // socket.emit 可以針對頻道傳送物件
              socket.emit('chat message', input.value)
              input.value = ''
            }
          })

          // socket 監聽從 server 在 chat message 傳來的資料   
          socket.on('chat message', function (receivedObj) {
            const item = document.createElement('li')
            item.textContent = receivedObj.message
            messages.appendChild(item)
            window.scrollTo(0, document.body.scrollHeight)
          })

          socket.on('broadcast', (data) => {
            const item = document.createElement('li')
            item.textContent = data.description
            messages.appendChild(item)
            window.scrollTo(0, document.body.scrollHeight)
          })
        </script>

      </div>
    </section>


  </div>

</section>